!!! XML
!!! 5
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'ja', :lang => 'ja'}
  %head
    %link{:rel => 'stylesheet', :href => '/stylesheets/style.css?c', :type => 'text/css'}
    %title&= page.title
  %body
    %h1 *1
    %nav
      %ul
        %li
          %a{:href => '#'}> View
        %li
          %a{:href => '#'}> Edit
    #view
      %p 閲覧モード
      != yield
    #edit
      %p 編集モード
    %address
      Hajime Hoshi
    %script{:src => 'javascripts/jquery-1.4.2.min.js', :type => 'text/javascript', :charset => 'utf-8'}
    %script{:src => 'javascripts/ikiw.js', :type => 'text/javascript', :charset => 'utf-8'}
